body {
  background-color: #3d405b;
  color: white;
  font-family: calibri;
  margin: 0;
}
.header-div {
  text-align: center;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-div {
  position: fixed;
  bottom: 0;
  width: 100%;
}
