* {
  box-sizing: border-box;
}

.movie {
  background-color: #457b9d;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  margin: 1rem;
  position: relative;
}

/* .movie-img {
  max-width: 100%;
} */

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #14213d;
  opacity: 0.9;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}
