nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: #e63946;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
}
